{% extends 'base.html.twig' %}

{% block title %}Dodawanie użytkownika{% endblock %}

{% block content %}
    <h1>Dodawanie użytkownika</h1>
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {#{% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}#}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.role) }}
        {{ form_row(registrationForm.birth_date) }}
        {{ form_row(registrationForm.password_hash) }}
        <input type="checkbox" onclick="passworVisibility()" id="password_visibility">
        <label for="password_visibility">Pokaż hasło</label>
        {#{{ form_row(registrationForm.plainPassword) }}#}
        {#{{ form_row(registrationForm.agreeTerms) }}#}

        <button type="submit" class="btn">Dodaj</button>
    {{ form_end(registrationForm) }}
{% endblock %}
{% block javascripts %}
    <script>
    document.getElementById("registration_form_password_hash").type = "password";
    function passworVisibility() {
        var x = document.getElementById("registration_form_password_hash");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
    {{ parent() }}
{% endblock %}