{% extends 'base.html.twig' %}

{% block title %}Edytuj dane{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Edytuj dane</h1>

    {{ form_start(editForm) }}
        {{ form_row(editForm.name) }}
        {{ form_row(editForm.surname) }}
        {%if editForm.login is defined %}{{ form_row(editForm.login) }}{% endif %}
        {{ form_row(editForm.email) }}
        {{ form_row(editForm.telephone) }}
        {%if editForm.role is defined %}{{ form_row(editForm.role) }}{% endif %}
        {{ form_row(editForm.birth_date) }}
        {#{{ form_row(editForm.plainPassword) }}#}
        {#{{ form_row(editForm.agreeTerms) }}#}

        <button type="submit" class="btn">Zapisz</button>
        <a href="{{ path('app_user_change_password', { 'uid': app.user.id }) }}">Zmień hasło</a>
    {{ form_end(editForm) }}
{% endblock %}
